.image-preview {
    object-fit:cover;
    width: 100px;
    height: auto;
}

#homepage-sections .section {
    padding: 12px 0;
    margin-bottom: 12px;
}

#homepage-sections .section .image-preview {
    object-fit:cover;
    width: 250px;
    height: auto;
}

/*------------------------------------*\
    GROUPS CUSTOM POST TYPE
\*------------------------------------*/
.manage-column.column-group {
    width: 15%;
}