.image-preview {
    object-fit:cover;
    width: 100px;
    height: auto;
}

#homepage-sections .section {
    padding: 12px 0;
    margin-bottom: 12px;
}

#homepage-sections .section .image-preview {
    object-fit:cover;
    width: 250px;
    height: auto;
}

/*------------------------------------*\
    CUSTOM COLUMNS
\*------------------------------------*/
.manage-column.column-group {
    width: 10%;
}

.manage-column.column-featured {
    width: 3%;
}
.manage-column.column-avatar {
    width: 5%;
}
.column-avatar .avatar-img {
    width: 100%;
    height: auto;
}
.column-featured {
    text-align: center;
}
.column-featured .dashicons-star-filled::before {
    color: #990033;
}
.manage-column.column-media_type {
    width: 10%;
}
.manage-column.column-use_case {
    width: 10%;
}
.manage-column.column-degree_program {
    width: 10%;
}
#toPortfolio {
    display: none;
}

/*------------------------------------*\
    CUSTOM META BOX
\*------------------------------------*/
.post-type-uws-projects .postbox select,
.post-type-uws-projects .postbox input[type=text],
.post-type-uws-projects .postbox textarea,
.post-type-uws-team-members .postbox input[type=text] {
    width: 100%;
}
.post-type-uws-team-members .postbox .edit-post-social-input {
    width: 150px !important;
    border: none;
    box-shadow: unset;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    vertical-align: middle;
}