/**
 * https://tarekraafat.github.io/autoComplete.js
 */
 .autocomplete-search-wrapper {
	position: relative;
	display: inline-block
}

#autoComplete {
	position: relative;
}

#autoComplete_list {
    position: absolute;
	z-index: 1000;
	padding: 0;
	left: 0;
	left: 0;
	margin: 0;
    width: 100%;
    list-style: none;
	transition: all .1s ease-in-out;
	-webkit-transition: all -webkit-transform .1s ease
}

.autoComplete_result {
	margin: 0 auto;
	padding: .6rem;
	color: #7b7b7b;
	transition: all .1s ease-in-out;
	background-color: #fff
}

.autoComplete_result::selection {
	color: rgba(#fff, 0);
	background-color: rgba(#fff, 0)
}

.autoComplete_result:last-child {
	border-radius: 0 0 1rem 1rem
}

.autoComplete_result:hover {
	cursor: pointer;
	background-color: rgba(255, 248, 248, .9);
}

.autoComplete_result:focus {
	outline: 0;
	background-color: rgba(255, 248, 248, .9);
}

.autoComplete_highlighted {
	opacity: 1;
	color: rgba(255, 122, 122, 1);
	font-weight: 700
}

.autoComplete_highlighted::selection {
	color: rgba(#fff, 0);
	background-color: rgba(#fff, 0)
}

.autoComplete_selected {
	cursor: pointer;
	background-color: rgba(255, 248, 248, .9);
}

@media only screen and (max-width:600px) {
	#autoComplete {
		width: 5rem
	}
	#autoComplete:focus {
		width: 11rem;
		background-size: 1.6rem;
		background-position: left 1.1rem top .75rem
	}
	.autoComplete_result:first-child {
		border-radius: 1rem 1rem 0 0
	}
	.autoComplete_result:last-child {
		border-radius: 0 0 1rem 1rem
	}
	.autoComplete_result:only-child {
		border-radius: 1rem
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#autoComplete {
		border-width: 1px
	}
	#autoComplete:hover {
		border-width: 1px
	}
	#autoComplete:focus {
		border-width: 1px
	}
}

@-moz-document url-prefix() {
	#autoComplete {
		border-width: 1px;
		background-size: 1.2rem;
		background-origin: border-box;
		background-position: center
	}
	#autoComplete:hover {
		border-width: 1px
	}
	#autoComplete:focus {
		border-width: 1px;
		background-position: left 1.1rem top .8rem
	}
}